root = true

[*]
indent_style = tab
indent_size = 1
max_line_length = 100

trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

ktlint_code_style = ktlint_official
ktlint_disabled_rules = import-ordering

[*.json]
indent_style = space
indent_size = 2
